@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

html {
  background-color: #2b2e4a;
}

footer {
  background-color: #3c415c;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: whitesmoke;
  font-weight: bolder;
  position:fixed;
  left:0px;
  bottom:0px;
}